.bg-sec{
    background-image: url(../../assets/06-page/bg-sec.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec_p p {
    margin-top: 20px;
}