.bg-sec{
    background-image: url(../../assets/06-page/bg-sec.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec_p p {
    margin-top: 20px;
}
.sec2 p {
    margin-top: 8px;
    font-size: 15px;
}
.bg_sec{
    background-image: url(../../assets/06-page/imuk.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

}